services:
  backend-prod:
    build:
      context: ./backend
      dockerfile: Dockerfile
      platforms: 
      - linux/amd64
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - database
    

  frontend-prod:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      platforms: 
      - linux/amd64
      args:
        VITE_API_URL: http://localhost:3000
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production

  database:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
